body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';



.mycol {
  height: 100%;
}

div[class*=mycontainer] {
  text-align: center;
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.mycontainer { background: #47739E; }
.mycontainer a { text-decoration: none !important; font-size: 16px;
  font-weight: bold; }

.mybtn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.mybtn::before, .mybtn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* BTN TWO */
.mybtn-two::before, .mybtn-two::after {
  content: '';
  position: absolute;
  width: 100%;
	height: 100%;
  bottom: 0;
	left: 0;
	z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.mybtn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.mybtn-two:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
.mybtn-two:hover::after, .mybtn-two:hover::before {
  left: 96px;
  width: 64px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
