@import "_mixins.scss";

/* local page styles */
html, html body {
    height:100%;
    font-family: 'Lato', sans-serif;

}

html h1 {
    font-size: 26px;
    // margin-left: 10px;
    line-height: 1.5em;
}

html h2 {
    font-size: 22px;
    margin-left: 10px;
    line-height: 1.5em;
}

html h3 {
    font-size: 16px;
    margin-left: 10px;
    line-height: 1.5em;
}

html h4 {
    font-size: 16px;
    line-height: 1.5em;
}

.wizardTitleCont
{
    width:100%;
    text-align: center;

    .wizardTitle
    {
        padding:20px 0;
        display:inline-block;
        .sysl 
        {
                background: url('imgs/sys-only-logo.svg') no-repeat left center;
                background-size: 48px;
                padding-left:50px;
                height:50px;
                display:inline-block;
                color:#FFF;
                font-weight: 400;
                line-height:50px;
                font-size:18px;
        }

        .sysr
        {
                background: url('imgs/sys-only-logo.svg') no-repeat right center;
                background-size: 48px;
                padding-right:50px;
                height:50px;
                display:inline-block;
                color:#FFF;
                font-weight: 400;
                line-height:50px;
                font-size:18px;
        }

        .direction 
        {
                display:inline-block;
                color:#0a9bd6;
                font-weight: 400;
                line-height:50px;
                font-size:18px;
                margin:0 10px;
        }

        .ethl 
        {
                background: url('imgs/eth-only-logo.svg') no-repeat left center;
                background-size: 28px;
                padding-left: 38px;
                height:50px;
                display:inline-block;
                color:#FFF;
                font-weight: 400;
                line-height:50px;
                font-size:18px;
        }

        .ethr
        {
                background: url('imgs/eth-only-logo.svg') no-repeat right center;
                background-size: 28px;
                padding-right: 38px;
                height:50px;
                display:inline-block;
                color:#FFF;
                font-weight: 400;
                line-height:50px;
                font-size:18px;
        }
    }
}

.wizardCancel
{
    margin: 40px auto 30px !important;
    display: block;
    float: none !important;
    color: white !important;
    text-shadow: none !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    opacity: 1 !important;
    cursor: pointer;
    background: rgba(113, 229, 255, 0.14) !important;
    padding:20px !important;
    @include border-radius(3px);
}
  

  .example {
    margin-top: 40px;
  }

  .progtrckr {
    text-align: center;
    padding-bottom: 16px;
  }

  .progtrckr li {
    margin-bottom: 10px;
  }

  .val-err-tooltip {
    background-color: red;
    padding: 3px 5px 3px 10px;
    font-size: 14px;
    color: #fff;
  }

  .step {
    min-height: 450px;
    padding: 10px;
  }

  html .row, html .form-horizontal .form-group {
    margin: 0;
  }

  .footer-buttons {
    margin-top: 10px;
    overflow: hidden;
    padding:20px;

    button 
    {
        background: #359ef6 !important;
        
        &:hover,
        &:active,
        &:focus
        {
            background: #252c6c !important;
        }
    }
  }

  html .step3 label, html .step4 label {
    font-size: 20px;
    text-align: left;
  }

  html .form-horizontal .control-label {
    text-align: left;
  }

  .review .txt {
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  html body .saving {
    background-color: #5cb85c;
    width: 90%;
    padding: 5px;
    font-size: 16px;
  }

  code {
    position: relative;
    left: 12px;
    line-height: 25px;
  }

  .eg-jump-lnk {
    margin-top: 50px;
    font-style: italic;
  }

  .lib-version {
    font-size: 12px;
    font-weight: 300;
    color:#ffffff45;
    position: absolute;
    right: 10px;
    top: 24px;
    padding: 5px;
  }

  html .content {
    margin-left: 10px;
  }

  span.red {
    color: #d9534f;
  }

  span.green {
    color: #3c763d;
  }

  span.bold {
    font-weight: bold;
  }

  html .hoc-alert {
    margin-top: 20px;
  }

  html .form-block-holder {
    margin-top: 20px !important;
  }

  /* overwrite the stepzilla styles */
  html ol.progtrckr li.progtrckr-todo:before {
    background-color: #f2f9ff;
  }

#menu 
{
  background-color:#1b1a3557;
  background-image: url(imgs/syscoin-logo.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 205px;
  text-align: center;
  color: #fff;
  position: fixed;
  width:100%;
  top:0;
  z-index:10;
  padding:16px;
  
  .title 
  {
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 2rem;
      margin-top: 5px;
  }

}


